@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Krub');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body {
    background-color: white;
}

body,
html {
    height: 100%;
}

/*-------------------------------------------base*/

/*.container{*/

/*    height: 100%;*/

/*    width: 100%;*/

/*    padding:100px;*/

/*}*/

/*-------------------------------------------header*/

.header-box {
    border-bottom-style: groove;
    border-bottom-color: white;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #C7C3C3;
}

.header-text {
    font-family: 'Homemade Apple', cursive;
    font-size: 32px;
    color: white;
}

/*-------------------------------------------home-page*/

.box {
    background: url(/static/images/chalkboardHD.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    margin: 10px;
    padding: 200px;
    border-radius: 5px;
}

.p-text {
    font-family: 'Krub', sans-serif;
    color: white;
    padding: 10px;
    text-align: center;
}

.button {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% {
        background-color: black;
        -webkit-box-shadow: 0 0 3px #FCFDF1;
    }
    50% {
        background-color: black;
        -webkit-box-shadow: 0 0 40px white;
    }
    100% {
        background-color: black;
        -webkit-box-shadow: 0 0 3px #FCFDF1;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: black;
        -moz-box-shadow: 0 0 3px #FCFDF1;
    }
    50% {
        background-color: black;
        -moz-box-shadow: 0 0 40px white;
    }
    100% {
        background-color: black;
        -moz-box-shadow: 0 0 3px #FCFDF1;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: black;
        box-shadow: 0 0 3px #FCFDF1;
    }
    50% {
        background-color: black;
        box-shadow: 0 0 40px white;
    }
    100% {
        background-color: black;
        box-shadow: 0 0 3px #FCFDF1;
    }
}

@keyframes glowing {
    0% {
        background-color: black;
        box-shadow: 0 0 3px #FCFDF1;
    }
    50% {
        background-color: black;
        box-shadow: 0 0 40px white;
    }
    100% {
        background-color: black;
        box-shadow: 0 0 3px #FCFDF1;
    }
}

.center-block-row {
    text-align: center;
}

.center-block-col {
    display: inline-block;
    float: None;
    margin-right: -4px;
    text-align: center;
}

.input {
    border-radius: 10px;
    text-align: center;
}

/*-------------------------------------------game*/

.s-box {
    border-style: groove;
    border-color: white;
}

.chalkboard_frame {
    background: url(/static/images/chalkboard_frame.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    min-height: 1000px;
    margin-top: 20px;
    align-items: center;
    border-radius: 5px;
}

.chalkboard-text {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
}

/*-------------------------------------------special paddings, margins, alignments & styles*/

.top-padding {
    padding-top: 20px;
}

.left-padding {
    padding-left: 20px;
}

.right-padding {
    padding-right: 20px;
}

.wrapper{
    position: relative;
    width:100%;
}

.parent{
    position: absolute;
}

.child{
    position: fixed;
}

.center-text {
    text-align:center;
}

.no-decoration a{
    text-decoration: none;
}

.icon20px i {
    font-size: 20px;
}
/*-------------------------------------------gameover file*/

.username-style {}

.chalkboard-text {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
}

/*-------------------------------------------footer*/

.footer {
    background-color: #C7C3C3;
    padding: 20px;
}

.footer-text {
    font-family: 'Krub', sans-serif;
    font-size: 7px;
    padding-left: 10px;
}


/*-------------------------------------------media queries*/

