{% extends 'base.html'%} {% block content %}

<header class="header-text">
    <div class="row center-text">
        <div class="col sm12 m12 l12 xl12">
            <h2>Chalkboard</h3>
            <h4>guessing game</h4>
        </div>
    </div>
</header>
    
<div class="row box">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class='row'>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class='p-text'><strong>CREATE A UNIQUE USERNAME FOR YOUR PLAYER</p></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form method='POST' class='p-text'>
                    <label for='username'></label>
                    <input class='input' type='text' placeholder='username' id='username' name='username' required='True'>
                    <div class='center top-padding'><a href='{{ url_for ("user", username=username) }}'><button class='button'>Enter Game</button></a></div>
                </form>
            </div> 
        </div>
    </div>
</div>

    <footer class='footer'>
        <div class='row'>
            <div class='col-6'>
                <p class='footer-text'><strong>Chalkboard 2018&copy</strong>A Project for CI Dublin</p>
            </div>
        </div>
    </footer>  

{% endblock %}
